<div class="container">
    <div class="row">
        <div class="col-md-9 col-xs-9"></div>
        <div class="col-md-3 col-xs-9">
            <a href="javascript: void(0)" class="btn btn-primary" [routerLink]="['/']">Add Category</a>
            <a href="javascript: void(0)" class="btn btn-primary" (click)="create()">Add FAQ</a>
        </div>
    </div>
    <div>
        <label class="center-block mr-3 pr-3">Category Name</label>
        <mat-form-field class="full-width" id="select-category">

            <mat-label>Category Name </mat-label>
            <mat-select [(ngModel)]="selectedCategoryId" (selectionChange)="onCatgoryChaneged($event)">
                <mat-option *ngFor="let row of categories" [value]="row.id">{{row.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>


    <div class="container">
        <div class="Selection-qestion">
            <ng-container *ngFor="let item of faqs">
                <div class="question-bg">
                    <span>Question :</span>{{item.question | json}}
                </div>
                <div class="answer-bg">
                    <span>Answer :</span> {{item.answer | json}}
                </div>
                <button type="button" (click)="deletePost(item.id)" class="btn delete ">
                  <mat-icon>delete</mat-icon>
                </button>
                <button type="button" (click)="updateData(item)" class="btn ">
                  <mat-icon>edit</mat-icon>
                </button>
            </ng-container>
        </div>
    </div>

</div>