.btn {
    background-color: #7a1f98;
    margin: 10px;
}

.btn:hover {
    box-shadow: 0px 0px 0px 2.5px white inset, 0px 0px 0px 5px #7a1f98;
}

.btn.delete {
    background-color: #7a1f98;
    color: #ffffff;
    // margin-left: 50vw;
}

.Selection-qestion {
    border: 1px solid #7a1f98;
    position: relative;
    margin: 7px 0px;
}

.question-bg {
    padding: 10px;
    display: block;
    background-color: #7a1f98;
    color: #ffffff;
    font-size: 1.1rem;
}

.answer-bg {
    padding: 0.3rem;
    color: #84289a !important;
    background-color: rgb(237, 237, 237);
}

@media only screen and (max-width:628px) {
    .btn {
        background-color: #7a1f98;
        margin: 10px;
    }
    .btn.delete {
        background-color: #7a1f98;
    }
}

label {
    margin: 0px 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
}

#select-category {
    width: 25rem;
}