<div class="container">
    <div class="row">
        <div class="col-md-9 col-xs-9"></div>
        <div class="col-md-3 col-xs-9">
            <a href="javascript: void(0)" class="btn btn-primary" [routerLink]="['/']">Add Category</a>
            <a href="javascript: void(0)" class="btn btn-primary" (click)="create()">Add FAQ</a>
        </div>
    </div>
    <div>
        <label class="center-block mr-3 pr-3">Category Name</label>
        <mat-form-field class="full-width" id="select-category">

            <mat-label>Category Name </mat-label>
            <mat-select [(ngModel)]="selectedCategoryId" (selectionChange)="onCatgoryChaneged($event)">
                <mat-option *ngFor="let row of categories" [value]="row.id">{{row.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-accordion cdkDropList #unassignedList="cdkDropList" [cdkDropListData]="faqs" (cdkDropListDropped)="drop($event)">
            <mat-expansion-panel cdkDrag *ngFor="let item of faqs">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <div class="title">
                            <div class="Selection-qestion">
                                <ng-container>
                                    <div class="question-bg">
                                        <span>Question :</span>{{item.question | json}}
                                        <span>Answer :</span> {{item.answer | json}}
                                    </div>


                                </ng-container>
                            </div>
                        </div>
                    </mat-panel-title>
                    <mat-panel-description>
                        <button type="button" (click)="deletePost(item.id)" class="btn delete ">
                    <mat-icon>delete</mat-icon>
                  </button>
                        <button type="button" (click)="updateData(item)" class="btn ">
                    <mat-icon>edit</mat-icon>
                  </button>

                    </mat-panel-description>
                </mat-expansion-panel-header>

            </mat-expansion-panel>
        </mat-accordion>

    </div>


    <div class="container">

    </div>

</div>