<h1 mat-dialog-title>
    Edit Category
</h1>
<div mat-dialog-content>
    <!-- (ngSubmit)="submit()" -->
    <form [formGroup]="form">
        <div class="form-group ">
            <mat-form-field class="form-control">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" type="text">
                <mat-error *ngIf="form.controls['name'].hasError('required')">
                    This field is required.
                </mat-error>
            </mat-form-field>
        </div>


    </form>

</div>
<div mat-dialog-actions>
    <button mat-raised-button color="warn" (click)="close(false)">No Thanks</button>
    <button mat-raised-button color="primary" cdkFocusInitial [disabled]="!form.valid" (click)="submit()">Update</button>
</div>
