/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-typography {
    background-image: url(./assets/img/header-splash-bg.png);
    /* margin-top: -14px; */
    /* position: absolute; */
    background-size: contain;
    background-repeat: no-repeat;
    /* width: 50%; */
    /* padding-top: 2vh; */
    background-position-x: -161px;
    background-position-y: -169px;
    /* background-position: top; */
    z-index: 9999;
}