.footer-bottom,
footer {
    background-image: url(../../../assets/img/div.png);
    padding: 10px;
}

// .footer-bottom
.copyright {
    background-image: url(../../../assets/img/Copyright.png);
}

footer {
    color: #fff;
}

.Qlinks {
    display: contents;
    margin-top: 3vh;
}

.Footer-links {
    margin: 20px 10px;
}